﻿@using Gov.Test.Web.Areas.AppAreaName.Models.Users
@using Abp.Application.Services.Dto
@model UserLoginAttemptsViewModel

@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Users/LoginAttempts.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("LoginAttempts")" description="@L("LoginAttemptsHeaderInfo")">
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="LoginAttemptsFilter" class="control-label">@L("Filter")</label>
                                <div class="input-group">
                                    <input type="text" id="LoginAttemptsFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" value="">
                                    <span class="input-group-append">
                                        <button id="GetLoginAttemptsButton" class="btn btn-primary" type="submit">
                                            <i class="flaticon-search-1" aria-label="@L("Search")"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="StartEndRange" class="control-label">@L("DateRange")</label>
                                <input id="StartEndRange" type="text" class="form-control date-range-picker"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="LoginResultFilter" class="control-label">@L("Result")</label>
                                @Html.DropDownList("LoginResultFilter", Model.LoginAttemptResults.Select(e => e.ToSelectListItem()), new {@class = "form-control", id = "LoginResultFilter"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 mt-5">
                    <div class="col-sm-12 text-right">
                        <button id="RefreshLoginAttempts" class="btn btn-primary">
                            <i class="la la-refresh"></i> @L("Refresh")
                        </button>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="LoginAttemptsTable" class="table table-separate table-head-custom dataTable no-footer dtr-inline dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>@L("IpAddress")</th>
                            <th>@L("Client")</th>
                            <th>@L("Browser")</th>
                            <th>@L("Time")</th>
                            <th>@L("Result")</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
